<form action="">
    <div>
        <label for="" class="">facebook id</label>
        <input type="text" class="form-control" value="">
    </div>
    <div>
        <label for="">Name</label>
        <input type="text" value="{{ user.getName() }}">
    </div>
</form>